*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Condensed, Roboto, sans-serif;
}

body{
    background-color: #202020 !important;
}

/*INICIO DEL HEADER*/
header{
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto Condensed, Roboto, sans-serif;
    background-color: #151515;
}

.conteinerLogo{
    margin: 10px 10px 10px 20px;
}

.conteinerLogo a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.imgLogo{
    width: 40px;
    height: 47px;
    margin-right: 10px;
}

.tecnorixH1{
    color: white;
    margin: 1px 1px 1px 1px;
    font-family: Roboto Condensed, Roboto, sans-serif;
    font-size: 28px;
}

/*INICIO DEL NAV*/
nav{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
nav a{
    color: white;
    font-family: Roboto Condensed, Roboto, sans-serif;
    text-decoration: none;
    font-size: 20px;
}
/*FIN DEL NAV*/

/*FIN DEL HEADER*/

/* inicio del formulario */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.mb-3{
  color: white;
}
.page-footer a {
  display: flex;
  margin-left: 4px;
}

label{
  color: white;
}

.conteinerform{
  background-color: #303030;
  padding: 50px;
  border-radius: 10px;
  
}
/* fin del formulario */

/* INICIO FOOTER */
footer{
    bottom: 0;
    display: flex;
    justify-content: space-between;
    font-family: Roboto Condensed, Roboto, sans-serif;
    color: white;
    background-color: #101010;
    width: 100%;
}

.logofooter{
    width: 50px;
    height: 57px;
    margin-right: 10px;
}

.navLogoFooter{
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 20px;
}

.contactoFooter{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
/* FIN FOOTER */