*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Condensed, Roboto, sans-serif;
}

body{
    background-color: #202020 !important;
}

/*INICIO DEL HEADER*/
header{
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto Condensed, Roboto, sans-serif;
    background-color: #151515;
}

.conteinerLogo{
    margin: 10px 10px 10px 20px;
}

.conteinerLogo a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.imgLogo{
    width: 40px;
    height: 47px;
    margin-right: 10px;
}

.tecnorixH1{
    color: white;
    margin: 1px 1px 1px 1px;
    font-family: Roboto Condensed, Roboto, sans-serif;
    font-size: 28px;
}

/*INICIO DEL NAV*/
nav{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
nav a{
    color: white;
    font-family: Roboto Condensed, Roboto, sans-serif;
    text-decoration: none;
    font-size: 20px;
}
/*FIN DEL NAV*/

/*FIN DEL HEADER*/
.contContact{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}

.intr{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Roboto Condensed, Roboto, sans-serif;
    color: white;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.intr2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pp{
    color: white;
    font-size: 18px;
    border-right: 5px solid transparent;
    padding: 20px;
    text-align: center;
}

.dvv{
    font-family: Roboto Condensed, Roboto, sans-serif;
    color: white;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
}

button{
    background-color: #101010;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 #fff;
   -webkit-transition: ease-out 0.4s;
   -moz-transition: ease-out 0.4s;
   transition: ease-out 0.4s;
}

button:hover{
    box-shadow: inset 400px 0 0 0 #fff;
    color: black;
}
/* INICIO FOOTER */
footer{
    bottom: 0;
    display: flex;
    justify-content: space-between;
    font-family: Roboto Condensed, Roboto, sans-serif;
    color: white;
    background-color: #101010;
    width: 100%;
}

.logofooter{
    width: 50px;
    height: 57px;
    margin-right: 10px;
}

.navLogoFooter{
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 20px;
}

.contactoFooter{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
/* FIN FOOTER */