*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #202020 !important;
}

/*INICIO DEL HEADER*/
header{
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto Condensed, Roboto, sans-serif;
    background-color: #151515;
}

.conteinerLogo{
    margin: 10px 10px 10px 20px;
}

.conteinerLogo a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.imgLogo{
    width: 40px;
    height: 47px;
    margin-right: 10px;
}

.tecnorixH1{
    color: white;
    margin: 1px 1px 1px 1px;
    font-family: Roboto Condensed, Roboto, sans-serif;
    font-size: 28px;
}

/*INICIO DEL NAV*/
nav{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
nav a{
    color: white;
    font-family: Roboto Condensed, Roboto, sans-serif;
    text-decoration: none;
    font-size: 20px;
}
/*FIN DEL NAV*/

/*FIN DEL HEADER*/



/*INICIO DEL MAIN*/

/*CARRUSEL*/
.swiper {
    width: 90%;
    height: 450px;
    border-radius: 20px;
    margin: 30px 0px 30px 0px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*CARRUSEL*/

/*LOOP INFINITO MARCAS*/
@-webkit-keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    }
    }
    @keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    }
    }
    .slider {
    background-color: #303030;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    }

    .slider::before, .slider::after {
    background: linear-gradient(to right, #404040 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
    }
    .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    }
    .slider::before {
    left: 0;
    top: 0;
    }
    .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
    }
    .slide img{
        height: 75px;
        width: 200px; 
    }
    .slider .slide {
    height: 100px;
    width: 250px;
    margin: 10px 0px 10px 0px;
    }

/*LOOP INFINITO MARCAS*/


.conteinerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*SECCION UNO DOS TRES*/
.sectionItem{
    width: 90%;
    height: 300px;
    background-color: #303030;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}
/*SECCION UNO DOS TRES*/



/*SECCION CARDS*/
.sectionCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}


.contenedorH2Card{
    color: white;
    margin: 20px;
}


.conteinerCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 300px;
}



/*SECCION CARDS*/


/*FIN DEL MAIN*/



/* INICIO FOOTER */
footer{
    bottom: 0;
    display: flex;
    justify-content: space-between;
    font-family: Roboto Condensed, Roboto, sans-serif;
    color: white;
    background-color: #101010;
    margin-top: 50px;
}

.logofooter{
    width: 50px;
    height: 57px;
    margin-right: 10px;
}

.navLogoFooter{
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 20px;
}

.contactoFooter{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
/* FIN FOOTER */